# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Cache
cache/
.pytest_cache/

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.log

# Terraform / Ansible
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log
ansible/secrets.yml
ansible/inventory.ini
*.retry

# SSH keys / credentials
*.pem
*.key
# AWS CLI installer
aws/
awscliv2.zip
k8s/02-secret.yaml
k8s/02-secret.yaml
